.theme-dark .elevationHigh-28Pty4[style*="1, 15, 17"] {
	background-color: rgb(8, 25, 34)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="2, 15, 17"] {
	background-color: rgb(9, 25, 34)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="3, 15, 17"] {
	background-color: rgb(10, 25, 34)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="4, 15, 17"] {
	background-color: rgb(11, 25, 34)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="5, 16, 17"] {
	background-color: rgb(12, 26, 34)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="5, 16, 18"] {
	background-color: rgb(12, 26, 35)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="6, 16, 18"] {
	background-color: rgb(13, 26, 35)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="7, 16, 18"] {
	background-color: rgb(14, 26, 35)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="8, 16, 18"] {
	background-color: rgb(15, 26, 35)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="9, 16, 18"] {
	background-color: rgb(16, 26, 35)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="10, 16, 18"] {
	background-color: rgb(17, 26, 35)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="10, 17, 18"] {
	background-color: rgb(17, 27, 35)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="10, 17, 19"] {
	background-color: rgb(17, 27, 36)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="11, 17, 19"] {
	background-color: rgb(18, 27, 36)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="12, 17, 19"] {
	background-color: rgb(19, 27, 36)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="13, 17, 19"] {
	background-color: rgb(20, 27, 36)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="14, 17, 19"] {
	background-color: rgb(21, 27, 36)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="15, 18, 19"] {
	background-color: rgb(22, 28, 36)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="15, 18, 20"] {
	background-color: rgb(22, 28, 37)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="16, 18, 20"] {
	background-color: rgb(23, 28, 37)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="17, 18, 20"] {
	background-color: rgb(24, 28, 37)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="18, 18, 20"] {
	background-color: rgb(25, 28, 37)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="19, 18, 20"] {
	background-color: rgb(26, 28, 37)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="20, 19, 21"] {
	background-color: rgb(27, 29, 38)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="21, 19, 21"] {
	background-color: rgb(28, 29, 38)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="22, 19, 21"] {
	background-color: rgb(29, 29, 38)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="23, 19, 21"] {
	background-color: rgb(30, 29, 38)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="24, 19, 21"] {
	background-color: rgb(31, 29, 38)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="24, 19, 22"] {
	background-color: rgb(31, 29, 39)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="25, 20, 22"] {
	background-color: rgb(32, 30, 39)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="26, 20, 22"] {
	background-color: rgb(33, 30, 39)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="27, 20, 22"] {
	background-color: rgb(34, 30, 39)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="28, 20, 22"] {
	background-color: rgb(35, 30, 39)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="29, 20, 22"] {
	background-color: rgb(36, 30, 39)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="29, 20, 23"] {
	background-color: rgb(36, 30, 40)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="30, 21, 23"] {
	background-color: rgb(37, 31, 40)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="31, 21, 23"] {
	background-color: rgb(38, 31, 40)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="32, 21, 23"] {
	background-color: rgb(39, 31, 40)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="33, 21, 23"] {
	background-color: rgb(40, 31, 40)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="34, 21, 23"] {
	background-color: rgb(41, 31, 40)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="34, 21, 24"] {
	background-color: rgb(41, 32, 41)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="36, 22, 24"] {
	background-color: rgb(43, 32, 41)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="37, 22, 24"] {
	background-color: rgb(44, 32, 41)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="38, 22, 24"] {
	background-color: rgb(45, 32, 41)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="39, 22, 24"] {
	background-color: rgb(46, 32, 41)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="39, 22, 25"] {
	background-color: rgb(46, 32, 42)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="40, 23, 25"] {
	background-color: rgb(47, 33, 42)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="41, 23, 25"] {
	background-color: rgb(48, 33, 42)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="42, 23, 25"] {
	background-color: rgb(49, 33, 42)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="43, 23, 25"] {
	background-color: rgb(50, 33, 43)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="44, 23, 26"] {
	background-color: rgb(51, 33, 43)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="45, 24, 26"] {
	background-color: rgb(52, 34, 43)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="46, 24, 26"] {
	background-color: rgb(53, 34, 43)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="47, 24, 26"] {
	background-color: rgb(54, 34, 43)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="49, 24, 27"] {
	background-color: rgb(56, 34, 44)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="51, 25, 27"] {
	background-color: rgb(58, 35, 44)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="52, 25, 27"] {
	background-color: rgb(59, 35, 44)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="53, 25, 27"] {
	background-color: rgb(60, 35, 44)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="54, 25, 28"] {
	background-color: rgb(61, 35, 45)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="58, 26, 29"] {
	background-color: rgb(65, 36, 46)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="60, 27, 29"] {
	background-color: rgb(67, 37, 46)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="61, 27, 29"] {
	background-color: rgb(68, 37, 46)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="62, 27, 29"] {
	background-color: rgb(69, 37, 46)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="63, 27, 30"] {
	background-color: rgb(70, 37, 47)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="65, 28, 30"] {
	background-color: rgb(72, 38, 47)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="66, 28, 30"] {
	background-color: rgb(73, 38, 47)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="67, 28, 30"] {
	background-color: rgb(74, 38, 47)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="68, 28, 31"] {
	background-color: rgb(75, 38, 48)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="71, 29, 31"] {
	background-color: rgb(78, 39, 48)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="73, 29, 32"] {
	background-color: rgb(80, 39, 49)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="74, 29, 32"] {
	background-color: rgb(81, 39, 49)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="75, 30, 32"] {
	background-color: rgb(82, 40, 49)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="77, 30, 33"] {
	background-color: rgb(84, 40, 50)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="78, 30, 33"] {
	background-color: rgb(85, 40, 50)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="79, 30, 33"] {
	background-color: rgb(86, 40, 50)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="81, 31, 33"] {
	background-color: rgb(88, 41, 50)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="82, 31, 33"] {
	background-color: rgb(89, 41, 50)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="82, 31, 34"] {
	background-color: rgb(89, 41, 51)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="87, 32, 35"] {
	background-color: rgb(94, 42, 52)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="88, 32, 35"] {
	background-color: rgb(95, 42, 52)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="89, 32, 35"] {
	background-color: rgb(96, 42, 52)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="91, 33, 35"] {
	background-color: rgb(98, 43, 52)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="92, 33, 36"] {
	background-color: rgb(99, 43, 53)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="95, 34, 36"] {
	background-color: rgb(102, 44, 53)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="96, 34, 36"] {
	background-color: rgb(103, 44, 53)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="97, 34, 37"] {
	background-color: rgb(104, 44, 54)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="98, 34, 37"] {
	background-color: rgb(105, 44, 54)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="99, 34, 37"] {
	background-color: rgb(106, 44, 54)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="101, 35, 38"] {
	background-color: rgb(108, 45, 55)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="102, 35, 38"] {
	background-color: rgb(109, 45, 55)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="103, 35, 38"] {
	background-color: rgb(110, 45, 55)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="104, 35, 38"] {
	background-color: rgb(111, 45, 55)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="105, 36, 38"] {
	background-color: rgb(112, 46, 55)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="106, 36, 39"] {
	background-color: rgb(113, 46, 56)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="107, 36, 39"] {
	background-color: rgb(114, 46, 56)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="108, 36, 39"] {
	background-color: rgb(115, 46, 56)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="109, 36, 39"] {
	background-color: rgb(116, 46, 56)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="110, 37, 39"] {
	background-color: rgb(117, 47, 56)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="111, 37, 40"] {
	background-color: rgb(118, 47, 57)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="118, 38, 41"] {
	background-color: rgb(125, 48, 58)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="123, 39, 42"] {
	background-color: rgb(130, 49, 59)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="127, 40, 41"] {
	background-color: rgb(134, 50, 58)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="128, 40, 43"] {
	background-color: rgb(135, 50, 60)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="130, 41, 44"] {
	background-color: rgb(137, 51, 61)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="137, 42, 45"] {
	background-color: rgb(144, 52, 62)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="138, 42, 45"] {
	background-color: rgb(145, 52, 62)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="139, 42, 45"] {
	background-color: rgb(146, 52, 62)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="139, 42, 46"] {
	background-color: rgb(146, 52, 63)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="140, 43, 46"] {
	background-color: rgb(147, 53, 63)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="161, 47, 50"] {
	background-color: rgb(168, 57, 67)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="166, 48, 51"] {
	background-color: rgb(173, 58, 68)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="168, 48, 52"] {
	background-color: rgb(175, 58, 69)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="169, 48, 52"] {
	background-color: rgb(176, 58, 69)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="171, 49, 52"] {
	background-color: rgb(178, 59, 69)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="176, 50, 53"] {
	background-color: rgb(183, 60, 70)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="175, 50, 53"] {
	background-color: rgb(182, 60, 70)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="176, 50, 53"] {
	background-color: rgb(183, 60, 70)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="177, 50, 53"] {
	background-color: rgb(184, 60, 70)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="178, 50, 54"] {
	background-color: rgb(185, 60, 71)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="181, 51, 54"] {
	background-color: rgb(188, 61, 71)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="186, 52, 55"] {
	background-color: rgb(193, 62, 72)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="188, 52, 56"] {
	background-color: rgb(195, 62, 73)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="190, 53, 56"] {
	background-color: rgb(197, 63, 73)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="191, 53, 56"] {
	background-color: rgb(198, 63, 73)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="192, 53, 56"] {
	background-color: rgb(199, 63, 73)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="193, 53, 57"] {
	background-color: rgb(200, 63, 74)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="197, 54, 58"] {
	background-color: rgb(204, 64, 75)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="203, 55, 59"] {
	background-color: rgb(210, 65, 76)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="205, 56, 59"] {
	background-color: rgb(212, 66, 76)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="210, 57, 60"] {
	background-color: rgb(217, 67, 77)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="211, 57, 60"] {
	background-color: rgb(218, 67, 77)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="212, 57, 61"] {
	background-color: rgb(219, 67, 78)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="218, 58, 62"] {
	background-color: rgb(225, 68, 79)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="221, 59, 63"] {
	background-color: rgb(228, 69, 80)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="225, 60, 63"] {
	background-color: rgb(232, 70, 80)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="226, 60, 64"] {
	background-color: rgb(233, 70, 81)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="227, 60, 64"] {
	background-color: rgb(234, 70, 81)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="228, 60, 64"] {
	background-color: rgb(235, 70, 81)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="232, 61, 65"] {
	background-color: rgb(239, 71, 82)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="233, 61, 65"] {
	background-color: rgb(240, 71, 82)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="237, 62, 66"] {
	background-color: rgb(244, 72, 83)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="238, 62, 66"] {
	background-color: rgb(245, 72, 83)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="239, 62, 66"] {
	background-color: rgb(246, 72, 83)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="240, 63, 67"] {
	background-color: rgb(247, 73, 84)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="241, 63, 67"] {
	background-color: rgb(248, 73, 84)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="242, 63, 67"] {
	background-color: rgb(249, 73, 84)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="243, 63, 67"] {
	background-color: rgb(250, 73, 84)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="244, 63, 67"] {
	background-color: rgb(251, 73, 84)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="245, 64, 68"] {
	background-color: rgb(252, 74, 85)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="246, 64, 68"] {
	background-color: rgb(253, 74, 85)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="247, 64, 68"] {
	background-color: rgb(254, 74, 85)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="248, 64, 68"] {
	background-color: rgb(255, 74, 85)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="249, 64, 68"] {
	background-color: rgb(255, 75, 85)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="249, 64, 69"] {
	background-color: rgb(255, 75, 86)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="250, 65, 69"] {
	background-color: rgb(255, 77, 86)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="251, 65, 69"] {
	background-color: rgb(255, 79, 86)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="252, 65, 69"] {
	background-color: rgb(255, 80, 86)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="253, 65, 69"] {
	background-color: rgb(255, 81, 86)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="254, 65, 69"] {
	background-color: rgb(255, 82, 86)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="254, 65, 70"] {
	background-color: rgb(255, 82, 87)!important;
}

.theme-dark .elevationHigh-28Pty4[style*="255, 66, 70"] { 
	background-color: rgb(255, 83, 87)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.08);"] {
	background-color: rgba(60, 231, 249, 0.08)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.079);"] {
	background-color: rgba(60, 231, 249, 0.079)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.078);"] {
	background-color: rgba(60, 231, 249, 0.078)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.077);"] {
	background-color: rgba(60, 231, 249, 0.077)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.076);"] {
	background-color: rgba(60, 231, 249, 0.076)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.075);"] {
	background-color: rgba(60, 231, 249, 0.075)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.074);"] {
	background-color: rgba(60, 231, 249, 0.074)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.073);"] {
	background-color: rgba(60, 231, 249, 0.073)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.072);"] {
	background-color: rgba(60, 231, 249, 0.072)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.071);"] {
	background-color: rgba(60, 231, 249, 0.071)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.07);"] {
	background-color: rgba(60, 231, 249, 0.07)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.069);"] {
	background-color: rgba(60, 231, 249, 0.069)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.068);"] {
	background-color: rgba(60, 231, 249, 0.068)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.067);"] {
	background-color: rgba(60, 231, 249, 0.067)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.066);"] {
	background-color: rgba(60, 231, 249, 0.066)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.065);"] {
	background-color: rgba(60, 231, 249, 0.065)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.064);"] {
	background-color: rgba(60, 231, 249, 0.064)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.063);"] {
	background-color: rgba(60, 231, 249, 0.063)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.062);"] {
	background-color: rgba(60, 231, 249, 0.062)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.061);"] {
	background-color: rgba(60, 231, 249, 0.061)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.06);"] {
	background-color: rgba(60, 231, 249, 0.06)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.059);"] {
	background-color: rgba(60, 231, 249, 0.059)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.058);"] {
	background-color: rgba(60, 231, 249, 0.058)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.057);"] {
	background-color: rgba(60, 231, 249, 0.057)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.056);"] {
	background-color: rgba(60, 231, 249, 0.056)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.055);"] {
	background-color: rgba(60, 231, 249, 0.055)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.054);"] {
	background-color: rgba(60, 231, 249, 0.054)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.053);"] {
	background-color: rgba(60, 231, 249, 0.053)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.052);"] {
	background-color: rgba(60, 231, 249, 0.052)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.051);"] {
	background-color: rgba(60, 231, 249, 0.051)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.05);"] {
	background-color: rgba(60, 231, 249, 0.05)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.049);"] {
	background-color: rgba(60, 231, 249, 0.049)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.048);"] {
	background-color: rgba(60, 231, 249, 0.048)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.047);"] {
	background-color: rgba(60, 231, 249, 0.047)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.046);"] {
	background-color: rgba(60, 231, 249, 0.046)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.045);"] {
	background-color: rgba(60, 231, 249, 0.045)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.044);"] {
	background-color: rgba(60, 231, 249, 0.044)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.043);"] {
	background-color: rgba(60, 231, 249, 0.043)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.042);"] {
	background-color: rgba(60, 231, 249, 0.042)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.041);"] {
	background-color: rgba(60, 231, 249, 0.041)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.04);"] {
	background-color: rgba(60, 231, 249, 0.04)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.039);"] {
	background-color: rgba(60, 231, 249, 0.039)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.038);"] {
	background-color: rgba(60, 231, 249, 0.038)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.037);"] {
	background-color: rgba(60, 231, 249, 0.037)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.036);"] {
	background-color: rgba(60, 231, 249, 0.036)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.035);"] {
	background-color: rgba(60, 231, 249, 0.035)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.034);"] {
	background-color: rgba(60, 231, 249, 0.034)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.033);"] {
	background-color: rgba(60, 231, 249, 0.033)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.032);"] {
	background-color: rgba(60, 231, 249, 0.032)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.031);"] {
	background-color: rgba(60, 231, 249, 0.031)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.03);"] {
	background-color: rgba(60, 231, 249, 0.03)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.029);"] {
	background-color: rgba(60, 231, 249, 0.029)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.028);"] {
	background-color: rgba(60, 231, 249, 0.028)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.027);"] {
	background-color: rgba(60, 231, 249, 0.027)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.026);"] {
	background-color: rgba(60, 231, 249, 0.026)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.025);"] {
	background-color: rgba(60, 231, 249, 0.025)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.024);"] {
	background-color: rgba(60, 231, 249, 0.024)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.023);"] {
	background-color: rgba(60, 231, 249, 0.023)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.022);"] {
	background-color: rgba(60, 231, 249, 0.022)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.021);"] {
	background-color: rgba(60, 231, 249, 0.021)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.02);"] {
	background-color: rgba(60, 231, 249, 0.02)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.019);"] {
	background-color: rgba(60, 231, 249, 0.019)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.018);"] {
	background-color: rgba(60, 231, 249, 0.018)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.017);"] {
	background-color: rgba(60, 231, 249, 0.017)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.016);"] {
	background-color: rgba(60, 231, 249, 0.016)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.015);"] {
	background-color: rgba(60, 231, 249, 0.015)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.014);"] {
	background-color: rgba(60, 231, 249, 0.014)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.013);"] {
	background-color: rgba(60, 231, 249, 0.013)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.012);"] {
	background-color: rgba(60, 231, 249, 0.012)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.011);"] {
	background-color: rgba(60, 231, 249, 0.011)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0.01);"] {
	background-color: rgba(60, 231, 249, 0.01)!important;
}

.backgroundFlash-1X5jVs[style*="background-color: rgba(148, 156, 247, 0);"] {
	background-color: rgba(60, 231, 249, 0)!important;
}
