[src*="/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg")
}

[src*="/assets/070f1b98adc8ce07c7823021133efed5.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/070f1b98adc8ce07c7823021133efed5.svg")
}

[src*="/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg")
}

[src*="/assets/0b396e6928f366dc5714e92e47d6bf8a.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/0b396e6928f366dc5714e92e47d6bf8a.svg")
}

[src*="/assets/157ccfe93c91db60adddd48a75b69205.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/157ccfe93c91db60adddd48a75b69205.svg")
}

[src*="/assets/1b16169ee6f3b942ef7cc96718144bfa.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/1b16169ee6f3b942ef7cc96718144bfa.svg")
}

[src*="/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg")
}

[src*="/assets/35827c42a3af54bd169cff0a866eb428.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/35827c42a3af54bd169cff0a866eb428.svg")
}

[src*="/assets/39a7fb525b2593689d328ad7367ee4b5.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/39a7fb525b2593689d328ad7367ee4b5.svg")
}

[src*="/assets/3fba9b3d08682f3ce0344e289fe668cb.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3fba9b3d08682f3ce0344e289fe668cb.svg")
}

[src*="/assets/4275f4f043390fa1db37efe36e7a79aa.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/4275f4f043390fa1db37efe36e7a79aa.svg")
}

[src*="/assets/42ece057e516ea23d9fdf4f20552cd65.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/42ece057e516ea23d9fdf4f20552cd65 (1).svg")
}

[src*="/assets/46f302822fa43628962d28f50bb33b01v.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/46f302822fa43628962d28f50bb33b01v.svg")
}

[src*="/assets/487594776f6ebfe57e3ac89d6b3fe437.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/487594776f6ebfe57e3ac89d6b3fe437.svg")
}

[src*="/assets/4d96b1cfd8285531dda8fcbe5f41c86e.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/4d96b1cfd8285531dda8fcbe5f41c86e.svg")
}

[src*="/assets/515d0236bce3ba834026209dc78489f0.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/515d0236bce3ba834026209dc78489f0.svg")
}

[src*="/assets/545be34456b41a8695d986221389ea00.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/545be34456b41a8695d986221389ea00.svg")
}

[src*="/assets/5a6c298c68b5963581a107d420352d07.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/5a6c298c68b5963581a107d420352d07.svg")
}

[src*="/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg")
}

[src*="/assets/63e3655bb034980e94b75c68c0317df1.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/63e3655bb034980e94b75c68c0317df1 (1).svg")
}

[src*="/assets/68d65136961706bf6dc2b10a9d997d8a.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/68d65136961706bf6dc2b10a9d997d8a.svg")
}

[src*="/assets/691cf187cd943ed81f043740606878e7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/691cf187cd943ed81f043740606878e7.svg")
}

[src*="/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg")
}

[src*="/assets/750214196f39660492a313dbe5c84fe4.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/750214196f39660492a313dbe5c84fe4.svg")
}

[src*="/assets/7b3a37fa249a857b0ff136db0a73f44c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7b3a37fa249a857b0ff136db0a73f44c.svg")
}

[src*="/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg")
}

[src*="/assets/87f8416faec0691b96525d0bb3027809.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/87f8416faec0691b96525d0bb3027809.svg")
}

[src*="/assets/894e2832a1bed82af291dba37fc0e3b7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/894e2832a1bed82af291dba37fc0e3b7.svg")
}

[src*="/assets/943a260f0eaaad05497e992feac2a8a5.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/943a260f0eaaad05497e992feac2a8a5.svg")
}

[src*="/assets/989028f8e966f89ea2b1c603173427b7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/989028f8e966f89ea2b1c603173427b7.svg")
}

[src*="/assets/a532e755c36b75762a75ff0794456efb.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/a532e755c36b75762a75ff0794456efb.svg")
}

[src*="/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg")
}

[src*="/assets/b9bbacdfa6594ded675e220061d8831d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b9bbacdfa6594ded675e220061d8831d.svg")
}

[src*="/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg")
}

[src*="/assets/c58f8117594459cb951df70b45b2e04e.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c58f8117594459cb951df70b45b2e04e.svg")
}

[src*="/assets/ca6fb00528c12821b9a591fff33ec73c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ca6fb00528c12821b9a591fff33ec73c.svg")
}

[src*="/assets/ccd6653e4b9cedf670a9cb04cf266668.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ccd6653e4b9cedf670a9cb04cf266668.svg")
}

[src*="/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg")
}

[src*="/assets/d8a03b9985d824edc78c6eb4785dc949.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d8a03b9985d824edc78c6eb4785dc949.svg")
}

[src*="/assets/d9d8b80b17879975b06c729c6a6ca57d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d9d8b80b17879975b06c729c6a6ca57d.svg")
}

[src*="/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg")
}

[src*="/assets/e7a1cdf5f9eb5be41421c2091dba50d7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e7a1cdf5f9eb5be41421c2091dba50d7.svg")
}

[src*="/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg")
}

[src*="/assets/f0fd53980da8cde41a97db3cf20de65d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f0fd53980da8cde41a97db3cf20de65d.svg")
}

[src*="/assets/f203f5736b9aa0178751342dcc73548a.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f203f5736b9aa0178751342dcc73548a.svg")
}

[src*="/assets/f51e2ec5e2518261739e4b16205c6c4c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f51e2ec5e2518261739e4b16205c6c4c.svg")
}

[src*="/assets/f7d5aea57245d82c2f7c19073fe660e7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f7d5aea57245d82c2f7c19073fe660e7.svg")
}

[src*="/assets/fda43f574092d89177a4412046f51c44.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/fda43f574092d89177a4412046f51c44.svg")
}
