[src*="/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg")
}

[src*="/assets/070f1b98adc8ce07c7823021133efed5.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/070f1b98adc8ce07c7823021133efed5.svg")
}

[src*="/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg")
}

[src*="/assets/0b396e6928f366dc5714e92e47d6bf8a.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/0b396e6928f366dc5714e92e47d6bf8a.svg")
}

[src*="/assets/157ccfe93c91db60adddd48a75b69205.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/157ccfe93c91db60adddd48a75b69205.svg")
}

[src*="/assets/1b16169ee6f3b942ef7cc96718144bfa.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/1b16169ee6f3b942ef7cc96718144bfa.svg")
}

[src*="/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg")
}

[src*="/assets/35827c42a3af54bd169cff0a866eb428.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/35827c42a3af54bd169cff0a866eb428.svg")
}

[src*="/assets/39a7fb525b2593689d328ad7367ee4b5.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/39a7fb525b2593689d328ad7367ee4b5.svg")
}

[src*="/assets/3fba9b3d08682f3ce0344e289fe668cb.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/3fba9b3d08682f3ce0344e289fe668cb.svg")
}

[src*="/assets/4275f4f043390fa1db37efe36e7a79aa.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/4275f4f043390fa1db37efe36e7a79aa.svg")
}

[src*="/assets/42ece057e516ea23d9fdf4f20552cd65.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/42ece057e516ea23d9fdf4f20552cd65 (1).svg")
}

[src*="/assets/46f302822fa43628962d28f50bb33b01v.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/46f302822fa43628962d28f50bb33b01v.svg")
}

[src*="/assets/487594776f6ebfe57e3ac89d6b3fe437.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/487594776f6ebfe57e3ac89d6b3fe437.svg")
}

[src*="/assets/4d96b1cfd8285531dda8fcbe5f41c86e.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/4d96b1cfd8285531dda8fcbe5f41c86e.svg")
}

[src*="/assets/515d0236bce3ba834026209dc78489f0.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/515d0236bce3ba834026209dc78489f0.svg")
}

[src*="/assets/545be34456b41a8695d986221389ea00.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/545be34456b41a8695d986221389ea00.svg")
}

[src*="/assets/5a6c298c68b5963581a107d420352d07.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/5a6c298c68b5963581a107d420352d07.svg")
}

[src*="/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg")
}

[src*="/assets/63e3655bb034980e94b75c68c0317df1.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/63e3655bb034980e94b75c68c0317df1 (1).svg")
}

[src*="/assets/68d65136961706bf6dc2b10a9d997d8a.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/68d65136961706bf6dc2b10a9d997d8a.svg")
}

[src*="/assets/691cf187cd943ed81f043740606878e7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/691cf187cd943ed81f043740606878e7.svg")
}

[src*="/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg")
}

[src*="/assets/750214196f39660492a313dbe5c84fe4.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/750214196f39660492a313dbe5c84fe4.svg")
}

[src*="/assets/7b3a37fa249a857b0ff136db0a73f44c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/7b3a37fa249a857b0ff136db0a73f44c.svg")
}

[src*="/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg")
}

[src*="/assets/87f8416faec0691b96525d0bb3027809.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/87f8416faec0691b96525d0bb3027809.svg")
}

[src*="/assets/894e2832a1bed82af291dba37fc0e3b7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/894e2832a1bed82af291dba37fc0e3b7.svg")
}

[src*="/assets/943a260f0eaaad05497e992feac2a8a5.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/943a260f0eaaad05497e992feac2a8a5.svg")
}

[src*="/assets/989028f8e966f89ea2b1c603173427b7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/989028f8e966f89ea2b1c603173427b7.svg")
}

[src*="/assets/a532e755c36b75762a75ff0794456efb.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/a532e755c36b75762a75ff0794456efb.svg")
}

[src*="/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg")
}

[src*="/assets/b9bbacdfa6594ded675e220061d8831d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/b9bbacdfa6594ded675e220061d8831d.svg")
}

[src*="/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg")
}

[src*="/assets/c58f8117594459cb951df70b45b2e04e.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/c58f8117594459cb951df70b45b2e04e.svg")
}

[src*="/assets/ca6fb00528c12821b9a591fff33ec73c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/ca6fb00528c12821b9a591fff33ec73c.svg")
}

[src*="/assets/ccd6653e4b9cedf670a9cb04cf266668.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/ccd6653e4b9cedf670a9cb04cf266668.svg")
}

[src*="/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg")
}

[src*="/assets/d8a03b9985d824edc78c6eb4785dc949.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/d8a03b9985d824edc78c6eb4785dc949.svg")
}

[src*="/assets/d9d8b80b17879975b06c729c6a6ca57d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/d9d8b80b17879975b06c729c6a6ca57d.svg")
}

[src*="/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg")
}

[src*="/assets/e7a1cdf5f9eb5be41421c2091dba50d7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/e7a1cdf5f9eb5be41421c2091dba50d7.svg")
}

[src*="/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg")
}

[src*="/assets/f0fd53980da8cde41a97db3cf20de65d.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/f0fd53980da8cde41a97db3cf20de65d.svg")
}

[src*="/assets/f203f5736b9aa0178751342dcc73548a.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/f203f5736b9aa0178751342dcc73548a.svg")
}

[src*="/assets/f51e2ec5e2518261739e4b16205c6c4c.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/f51e2ec5e2518261739e4b16205c6c4c.svg")
}

[src*="/assets/f7d5aea57245d82c2f7c19073fe660e7.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/f7d5aea57245d82c2f7c19073fe660e7.svg")
}

[src*="/assets/fda43f574092d89177a4412046f51c44.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/fda43f574092d89177a4412046f51c44.svg")
}

[src*="/assets/3ed9c7cdbea131bc485afa998a5ec93e.svg"] {
    content: url("https://veivvovi.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored%20/assets/3ed9c7cdbea131bc485afa998a5ec93e.svg")
}

/* 🛩️ Airplane */
[style*='background-image: url("/assets/88d6e5a673e816bf927dc8fe11d42d29.svg");'],
[style*='background-image: url("/assets/9937df80bc9c58a3e67709f58402f4db.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/airplane.svg") !important;
}

/* 🕹️ Arcades */
[style*='background-image: url("/assets/beec347635d7597215747fcaf461e569.svg");'],
[style*='background-image: url("/assets/9581653a5a4d0b7b56187044a9db301a.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/arcades.svg") !important;
}

/* 🔨 Ban Hammer */
[style*='background-image: url("/assets/d6b031b6f8ec4761e1dac30e4e33f235.svg");'],
[style*='background-image: url("/assets/8f841811896e9d1eefcd13bcdaca9579.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/ban_hammer.svg") !important;
}

/* 🚀 Boost */
.theme-dark .channelNotice-3-mDJt {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/boost.svg");
    background-repeat: no-repeat;
}

/* 🔎💥 Broken magnifying glass */
.theme-dark .errorImage-19HeaA {
    background: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/broken.svg") center/cover;
}

/* 🏰 Castle */
.theme-dark .verification-2oQUwN .image-cLINxN {
    background: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/castle.svg") 50%/80%
    no-repeat;
}

/* ⚙️ Channel settings here and u didn't finished */
[src="/assets/3726fbfb6d657f9baf0582017ec8238c.svg"],
[src="/assets/075cd4741407c7fb961e0758155a05e1.svg"] {
    content: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/channel_settings.svg");
}

/* ⚙️ Category settings */
[src="/assets/79a16912d0c0f2b7b430f8906bdfff9d.svg"],
[src="/assets/40afd79566cad1d0b437bf41a9c410df.svg"] {
    content: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/category_settings.svg");
}

/* 👥 🖼️ Community banner */
.previewCard-DOrO3c .splashImage-352DQ1 {
    content: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/community_banner.svg");
}

/* 🖥️ Computer */
[style*='background-image: url("/assets/c115d59ca13c0f942965a82a0f05bf01.svg");'],
[style*='background-image: url(/assets/ad530d02033b87bb89752f915c2fbe3c.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/computer.svg") !important;
}

/* 💥 Crash */
.theme-dark .image-35kDIs {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/crash.svg");
}

/* 🎮 Developer Options */
[style*='background-image: url("/assets/350e1c6739823620f031d023a48ac9d4.svg");'],
[style*='background-image: url("/assets/3123277eb2e7083fde983985dcd209a6.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/dev_options.svg") !important;
}

/* 😃 Emojis */
[style*='background-image: url("/assets/b21e574729a2e2b9243d811be7333677.svg");'],
[style*='background-image: url("/assets/2a35872721f98f9de6218eaedbd54a78.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/emojis.svg") !important;
}

/* 📭 Empty */
.theme-dark .image-33oh8u, .theme-dark .emptyImage-2pCD2j {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/empty.svg");
}

/* 😊 Friend */
.theme-dark .channelNotice-tO6Tus.invite-OjTXrW {
    background: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/friend.svg") no-repeat center 20px;
    background-size: 40%;
}

/* 🤷‍♂️ GIF not found */
.theme-dark .sadImage-2_mw0p {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/gif_not_found.svg");
}

/* 🤷‍ GIF picker end */
.theme-dark .endContainer-22e-US::after {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/gif_picker_end.svg");
}

/* 👥 Groups */
.theme-dark .noFriends-1Y8EWR .errorStateIcon-3y6XWh {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/groups.svg");
}

/* 🎁 Gift Inventory */
.theme-dark .emptyStateImage-1kilCd, .theme-dark .emptyWumpus-11kRB0 {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/gift_inventory.svg");
}

/* 🏠 Houses */
.theme-dark .emptyIconGuilds-8ibZfz {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/houses.svg");
}

/* ✨ Integrations */
.theme-dark .footerImage-2WsqiE {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/integrations.svg");
}

[src="/assets/d89511b11686ab5c942b3ef900e3d0eb.svg"],
[src="/assets/552bbc1a21ccdc1778e72f30154593ef.svg"] {
    content: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/integrations.svg");
}

/* 🔑 Key */
.theme-dark .channelNotice-tO6Tus.guildMFAWarning-3GEzs8 {
    background: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/key.svg") no-repeat center 20px;
    background-size: 40%;
}

/* ❌ No channel */
[style*='background-image: url("/assets/ed2007aab2da31a5436e70a28b4d59f9.svg");'],
[style*='background-image: url("/assets/7ad95b56788fc31c3e5eec667129ba68.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/no_channel.svg") !important;
}

/* ⌨️ No keybinds */
[style*='background-image: url("/assets/12d9bda733d6432d605e8011c22c3e56.svg");'],
[style*='background-image: url("/assets/8de4b17bb44ad5ef9f21f2f6f16aa8d1.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/no_keybinds.svg") !important;
}

/* 🙁 No Mutuals */
.theme-dark .emptyIconFriends-3MCBQa {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/no_mutuals.svg");
    background-size: 100%;
}

/* 🔎 🗣️ No results conversation */
.theme-dark .emptyState-1OLqEw{
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/no_results_conv.svg");
    background-size: 20%;
}

/* 🔎 No results search bar*/
.theme-dark .noResultsImage-1-dP2n {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/no_results.svg");
}

/* 📱 Phones */
.theme-dark .verificationBlock-xhj3fR .image-cLINxN.phone-2wue_- {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/phones.svg");
}

/* 🖼️ Pictures */
[style*='background-image: url("/assets/f1e026332f1d6e902bcbbc07892bc849.svg");'],
[style*='background-image: url("/assets/fd65da49c3073002049383baeb24e658.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/pictures.svg") !important;
}

/* 📌 Pinned */
[style*='background-image: url("/assets/ef3a1ed683cfcf029971b12a26462072.svg");'],
[style*='background-image: url("/assets/96ad9c7f6f636a7fb2028e2a07847776.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/pinned.svg") !important;
}

/* 💩 Poo */
.theme-dark .imageError-dy476I,
.theme-dark .invalidPoop--w1123,
.theme-dark .guildIconExpired-2BFmZC {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/poop.svg");
}

/* 📜 Scroll */
[style*='background-image: url("/assets/6f3eec6ec5f47f36e3bce40e6176bfbe.svg");'],
[style*='background-image: url("/assets/ba5f6c10149932705aef4f169ad75e5a.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/scroll.svg") !important;
}

/* 🔎 Searching */
.theme-dark .searchIndexBackground-2pbSFD {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/searching.svg");
}

/* 🔥 Server outage */
.theme-dark .art-_juKdZ {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/server_outage.svg");
}

/* 🟢 Spotify error */
.theme-dark .artworkSpotifySessionEnded-D18iXB {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/spotify_error.svg");
}

/* 🤷‍♂️ Sticker not found */
[style*='background-image: url("/assets/bee123bfad40a3fb4bb42f8d318dd867.svg");'],
[style*='background-image: url("/assets/bee123bfad40a3fb4bb42f8d318dd867.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/sticker_not_found.svg") !important;
}

/* 🔴 Streamer Mode */
.theme-dark .streamerModeEnabledImage-2EveVD, .theme-dark .emptyIconStreamerMode-3P4I-V {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/streamer_mode.svg");
}

/* ↔️ Switch */
.theme-dark .channelNotice-tO6Tus.quickswitcher-35bYg4 {
    background: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/switch.svg")
    no-repeat center 20px;
}

/* 📹 Test Video */
.theme-dark .previewImage-7EfQfc {
    content: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/test_video.svg");
}

/* 🗝️ Treasure Chest */
[src="/assets/67430d140a79af95585a19d304731dc5.svg"],
[src="/assets/d6779172ed9209b5ad49df923ea7820c.svg"] {
    content: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/treasure_chest.svg");
}

/* 🎁 Unclaimed */
.theme-dark .imageUnclaimed-5nJyYs {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/unclaimed.svg");
}

/* 🔊 Vocal full */
.fullArt-KDeDyg {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/vocal_full.svg");
    background-size: 100%;
}

/* ⛏️ Wumpus Mining */
[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'],
[style*='background-image: url("/assets/645df33d735507f39c78ce0cac7437f0.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/wumpus_mining.svg") !important;
}

/* 🗻 Wumpus Mountains */
[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg");'],
[style*='background-image: url("/assets/c84361b810ca7c10d6e8ddb6ea722ebe.svg");'],
[style*='background-image: url("/assets/b36c705f790dad253981f1893085015a.svg");'],
[style*='background-image: url("/assets/36c9a2fb7d0593a581a92373121c2848.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/wumpus_mountain.svg") !important;
}

/* 💤 Wumpus Sleeping */
[style*='background-image: url("/assets/b36de980b174d7b798c89f35c116e5c6.svg");'],
[style*='background-image: url("/assets/fd879a28807b66b38d54e7db6ea18a69.svg");'] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/wumpus_sleeping.svg") !important;
}

/* 🍵 Wumpus Tea Party */
[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg");'],
[style*='background-image: url("/assets/6b7098de4cc16f7e431ad8f9aae7f6db.svg");'],
.theme-dark .notFriends-lSusTz .errorStateIcon-3y6XWh {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/wumpus_tea_party.svg") !important;
}

/* 💬 Group chat */
[class^="partyFull-"] {
    background-image: url("https://veivvovi.github.io/nocturnal/importCSS/Discolored%20/assets/weapons.svg") !important;
}

/* 🏓 @everyone */
.contentWarningPopout-WKdbDG g > :nth-child(2) > :first-child path {
    fill: #0000003d;
}
.contentWarningPopout-WKdbDG g > :nth-child(3) > :first-child path {
    fill: #99abd8;
}
.contentWarningPopout-WKdbDG g > :nth-child(3) > :nth-child(2) path {
    fill: #7a8ec7;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :first-child path {
    fill: #b3cafb;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(2) path {
    fill: #c2d2f1;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(3) path,
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(4) path {
    fill: #a0b2dc;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(5) path,
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(6) path {
    fill: #7a8ec7;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(7) path {
    fill: #8ba0d2;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(8) path {
    fill: #c2d2f1;
}
.contentWarningPopout-WKdbDG g > :nth-child(6) > :nth-child(2) path {
    fill: #99abd8;
}
.contentWarningPopout-WKdbDG g > :nth-child(10) > :first-child path {
    fill: #e0c310;
}
.contentWarningPopout-WKdbDG g > :nth-child(11) > :first-child path {
    fill: #fbd907;
}
